* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    font-family: Poppins, Arial;
    text-align: center;
    background-color: #0e0e0e;
    color: #aaa;
}

.blurred-background {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.6)), url('background_by_logofeveryt_dh0w8qv-fullview-1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: blur(5px); 
    z-index: -1; 
}
.navbar {
    color: white;
    padding: 15px;
    text-align: left;
    font-size: 18px;
    display: flex;
    width: 80%;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    margin-left: auto;
    margin-right: auto;
}
.nav-links {
    display: flex;
    gap: 20px;
}
.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    max-width: 1200px !important;
    width: 100% !important;
    margin-left: auto;
    margin-right: auto;
}
#nav-logo{
    height: 40px;
}
.logo {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
}
.logo img{
    height: 66px;
}

.search-bar {
    display: flex;
    position: relative;
    width: 50%;
    margin-bottom: 25px;
}

.search-bar input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 10px 0 0 10px;
}
.search-btn {
    width: 120px;
    height: 60px;
    font-size: 20px;
    border: none;
    padding: 0px;
    line-height: 60px;
    display: inline-block;
    text-align: center;
    border-radius: 0 10px 10px 0;
}

.btns{
    background-color: red;
    color: #fff;
}

.center-content{
    margin-top: .5rem;
    text-align: center !important;
}


.mb-2{
    margin-bottom: 1rem !important;
}
.mb-1{
    margin-bottom: .5rem !important;
}

.span-a a, .btns{
    text-decoration: none;
}

.btn-highlight{
    background: 0 0 !important;
    border: none !important;
    color: #0198ff !important;
}

.btn-lg{
    display: inline-block;
    padding: 18px 50px;
    line-height: 1.5;
    font-size: 18px;
    border-radius: .4rem;
    font-weight: bold;
    transition: color .15sease-in-out, background-color .15sease-in-out, border-color .15sease-in-out, box-shadow .15sease-in-out;
}

.btn-lg>i{
    margin-left: 5px;
}
#footer{
    position: relative;
    bottom: 0px;
}

#footer h5{
    --tw-text-opacity: 1;
    color: rgb(113 113 122/var(--tw-text-opacity));
}

#footer p{
    margin-top: 5px;
    padding: 0px 17%;
    font-size: 12px;
}
#footer span, #footer p{
    color: whitesmoke !important;
}

/* SEARCH CSS */

.search-result-card {
    display: flex;
    align-items: center;
    margin: 5px 0;
    background-color: #535151c4;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px); 
    padding: 10px;
    border-radius: 10px;
    opacity: 0;
    transition: background-color 0.3s ease;
    transform: translateY(20px);
    animation: fadeInUp 0.3s ease-out forwards;
    text-align: left !important;
  }
  
  .search-result-card img {
    width: 50px;
    height: 75px;
    margin-right: 10px;
  }
  
  .search-result-card h3 {
    margin: 0;
    font-size: 16px;
  }
  
  
  .search-results .movie-card,
  .search-results .series-card {
    padding: 8px;
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  
  .search-results .movie-card img,
  .search-results .series-card img {
    width: 60px;  
    height: 75px;
    margin-right: 10px;
  }
  
  .search-results .movie-card:hover,
  .search-results .series-card:hover {
    background-color: #202020;
  }
  
  #searchResults {
    position: absolute;
    top: 65px; 
    left:-10px;
    width: 100%;
    max-height: 320px;  
  /*  color: white; */
    z-index: 10;
    padding: 15px;
    border-radius: 10px;
    overflow-y: auto;  
    cursor: pointer;
    -ms-overflow-style: none;  
    scrollbar-width: none; 
    z-index: 100;
  }
  
  #searchResults::-webkit-scrollbar {
    display: none; 
  }
  
  #searchResults .movie-card,
  #searchResults .series-card {
    display: absolute;
    align-items: center;
    margin-bottom: 10px;
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
  }
  
  /* Animation */
  @keyframes fadeInUp {
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  #searchResults img {
    width: 50px;
    height: 75px;
    margin-right: 10px;
  }
  
  #searchResults h3 {
    font-size: 16px;
    margin: 0;
    color: whitesmoke;
  }

  .searchDate, .searchDuration, .searchType{
    font-size: 12px !important;
    color: whitesmoke !important;
    text-align: left !important;
  }
.hamburger-menu{
  display: none;
}
  /* Search css */

  @media screen and (max-width: 768px) {
    .nav-links {
      display: none;
      flex-direction: column;
      width: 40%;
      backdrop-filter: blur(5px);
      -webkit-backdrop-filter: blur(5px); 
      background-color: rgba(85, 85, 85, 0.38);
      border-radius: 10px;
      border-top-right-radius: 0%;
      position: absolute;
      top: 45px; 
      right: 20px;
      z-index: 10;
      gap: 2px;
    }
  
    .nav-links a {
      text-align: center;
      padding: 10px;
      font-size: 16px;
    }
    .nav-links a:not(:last-of-type) {
      border-bottom: solid #28282861 2px;
    }
  
    .nav-links a:hover {
      background-color: #f0f0f07c;
      border-radius: 10px;
    }
  
    .hamburger-menu {
      display: block;
      font-size: 1.6rem;
      padding-bottom: 10px;
    }
  
    .nav-links.active {
      display: flex; /* Show links when active */
    }

   .navbar{
    width: 100%;
   }
   .btn-lg{
    padding: 18px 40px;
    font-size: 16px;
   }
   .search-bar{
    width: 85%;
   }
   .descrip{
    width: 90%;
   }
   .block{
    margin-bottom: 15vh;
   }
   #footer{
    position: fixed;
   }
   #footer p{
    padding: 0px 10%;
   }
  }